
.header {
    background-color: #262626;
    color: white;
    padding-block: 0.875rem;
    position: sticky;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
}

.logoutBtn {
    padding: 0.53em 1.25em;
    background-color: #ECF15E;
    color: #0E0F11;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

@media (min-width: 600px) {
    
    .headerLogo {
        font-size: 2rem;
    }
    
}