
.progressBox {
    background-color: var(--neutral-dark);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1.5em;
    position: relative;
}

.progressCircle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    background: conic-gradient(from 180deg, var(--secondary-color) 0%, var(--secondary-color) var(--prog), var(--primary-color) var(--prog));
}

.progressInfo {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--neutral-dark);
    position: relative;
    display: grid;
    place-content: center;
    font-size: 4.5rem;
    font-weight: bold;
}

.infoList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2em;
}

.infoItem {
    text-transform: capitalize;
}

.infoItem::marker {
    color: var(--secondary-color);
}

.doneText {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 1em;
}

